@if (client) {
  <div class="client-detail">
    <aside class="client-sidebar">
      <div class="client-sidebar__header">
        <app-entity-item [title]="client.organization" titleVariant="small"> </app-entity-item>
      </div>

      <div class="client-sidebar__body">
        <div class="client-info">
          <h4 class="client-info__title">Información</h4>
          @if (client.notes) {
            <p class="client-info__notes">{{ client.notes }}</p>
          }
          <app-badge
            [text]="client.status | clientStatus"
            [variant]="clientStatusBadge[client.status]"
          >
          </app-badge>
        </div>

        <div class="client-info">
          <h4 class="client-info__title">Contactos</h4>
          @for (contact of client.contacts; track contact.id) {
            <div class="contact-card">
              <p class="contact-card__item">
                <span class="contact-card__icon"><app-icon [name]="'users'"></app-icon></span>
                <span class="contact-card__data">{{ contact.name }}</span>
              </p>

              @if (contact.role) {
                <p class="contact-card__item">
                  <span class="contact-card__icon"><app-icon [name]="'role'"></app-icon></span>
                  <span class="contact-card__data">{{ contact.role }}</span>
                </p>
              }

              @if (contact.email) {
                <p class="contact-card__item">
                  <span class="contact-card__icon"><app-icon [name]="'email'"></app-icon></span>
                  <span class="contact-card__data">{{ contact.email }}</span>
                </p>
              }

              @if (contact.telephone) {
                <p class="contact-card__item">
                  <span class="contact-card__icon"><app-icon [name]="'tel'"></app-icon></span>
                  <span class="contact-card__data">{{ contact.telephone }}</span>
                </p>
              }
            </div>
          }
        </div>
      </div>

      <div class="client-sidebar__footer">
        <div class="client-info">
          <h4 class="client-info__title">Resumen</h4>
          <div class="interaction-card">
            <div class="interaction-card__item">
              <span class="contact-card__icon"><app-icon [name]="'tel'"></app-icon></span>
              <span class="contact-card__data">0 chamadas</span>
            </div>

            <div class="interaction-card__item">
              <span class="contact-card__icon"><app-icon [name]="'email'"></app-icon></span>
              <span class="contact-card__data">0 emails</span>
            </div>
            <div class="interaction-card__item">
              <span class="contact-card__icon"><app-icon [name]="'visit'"></app-icon></span>
              <span class="contact-card__data">0 visitas</span>
            </div>
            <div class="interaction-card__item">
              <span class="contact-card__icon"><app-icon [name]="'task'"></app-icon></span>
              <span class="contact-card__data">0 tarefas feitas</span>
            </div>
            <div class="interaction-card__item">
              <span class="contact-card__icon"><app-icon [name]="'pendingTask'"></app-icon></span>
              <span class="contact-card__data">0 tarefas pendentes</span>
            </div>
          </div>
        </div>
      </div>
    </aside>

    <main class="client-main">
      <nav class="navigation-tabs">
        <button
          class="navigation-tab__btn"
          [class.active]="activeTab === 'interactions'"
          (click)="changeTab('interactions')"
        >
          <!-- Interaccións ({{ client.interactions?.length ?? 0 }}) -->
          Interaccións (0)
        </button>

        <button
          class="navigation-tab__btn"
          [class.active]="activeTab === 'tasks'"
          (click)="changeTab('tasks')"
        >
          Tarefas (0)
        </button>

        <button
          class="navigation-tab__btn"
          [class.active]="activeTab === 'proposals'"
          (click)="changeTab('proposals')"
        >
          Propostas (0)
        </button>
      </nav>

      <section class="content-tab">
        @switch (activeTab) {
          @case ('interactions') {
            <!-- @if ((client.interactions?.length ?? 0) === 0) { -->
            @if (!client) {
              <div class="empty">Non hai interaccións rexistradas.</div>
            } @else {
              <table class="minimal-table">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Tipo</th>
                    <th>Asunto</th>
                    <th>Finalización</th>
                    <th>Notas</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <!-- @for (interaction of client.interactions; track interaction.id) {
                    <tr>
                      <td>{{ interaction.date }}</td>
                      <td>{{ interaction.type }}</td>
                      <td>{{ interaction.subject }}</td>
                      <td>{{ interaction.subject }}</td>
                      <td>{{ interaction.notes }}</td>
                    </tr>
                  } -->
                  <tr>
                    <td>25 de feb. de 2026, 09:26</td>
                    <td>Email</td>
                    <td>Lorem ipsum</td>
                    <td>-</td>
                    <td>Paso info de mais saaabor</td>
                    <td>
                      <div class="actions-list">
                        <button
                          class="btn btn--secondary btn--small btn--icon"
                          (click)="editInteraction(client.id)"
                        >
                          <app-icon [name]="'edit'"></app-icon>
                        </button>
                        <button
                          class="btn btn--delete btn--small btn--icon"
                          (click)="openDeleteInteractionModal()"
                        >
                          <app-icon [name]="'delete'"></app-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            }
          }

          @case ('tasks') {
            <!-- @if ((client.interactions?.length ?? 0) === 0) { -->
            @if (!client) {
              <div class="empty">Non hai tarefas rexistradas.</div>
            } @else {
              <table class="minimal-table">
                <thead>
                  <tr>
                    <th>Tarefa</th>
                    <th>Data límite</th>
                    <th>Prioridade</th>
                    <th>Aviso</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <!-- @for (interaction of client.interactions; track interaction.id) {
                    <tr>
                      <td>{{ interaction.date }}</td>
                      <td>{{ interaction.type }}</td>
                      <td>{{ interaction.subject }}</td>
                      <td>{{ interaction.notes }}</td>
                    </tr>
                  } -->
                  <tr>
                    <td>Consulta Comunic - ARTE</td>
                    <td>4/3/2026</td>
                    <td>alta</td>
                    <td>⏰ 02 de mar. de 2026, 13:18</td>
                    <td>
                      <div class="actions-list">
                        <button
                          class="btn btn--secondary btn--small btn--icon"
                          (click)="editTask(client.id)"
                        >
                          <app-icon [name]="'edit'"></app-icon>
                        </button>
                        <button
                          class="btn btn--delete btn--small btn--icon"
                          (click)="openDeleteTaskModal()"
                        >
                          <app-icon [name]="'delete'"></app-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            }
          }

          @case ('proposals') {
            <!-- @if ((client.interactions?.length ?? 0) === 0) { -->
            @if (!client) {
              <div class="empty">Non hai propostas rexistradas.</div>
            } @else {
              <table class="minimal-table">
                <thead>
                  <tr>
                    <th>Título</th>
                    <th>Importe</th>
                    <th>Data</th>
                    <th>Estado</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <!-- @for (interaction of client.interactions; track interaction.id) {
                    <tr>
                      <td>{{ interaction.date }}</td>
                      <td>{{ interaction.type }}</td>
                      <td>{{ interaction.subject }}</td>
                      <td>{{ interaction.notes }}</td>
                    </tr>
                  } -->
                  <tr>
                    <td>Para o Castro pola REDE</td>
                    <td>3000 €</td>
                    <td>02 de mar. de 2026</td>
                    <td>aberta</td>
                    <td>
                      <div class="actions-list">
                        <button
                          class="btn btn--secondary btn--small btn--icon"
                          (click)="editProposal(client.id)"
                        >
                          <app-icon [name]="'edit'"></app-icon>
                        </button>
                        <button
                          class="btn btn--delete btn--small btn--icon"
                          (click)="openDeleteProposalModal()"
                        >
                          <app-icon [name]="'delete'"></app-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            }
          }
        }
      </section>
    </main>
  </div>
}
