.client-detail {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 16px;
  height: calc(100vh - 128px);
  overflow: hidden;
}

.client-sidebar {
  background: var(--s1);
  border: 1px solid var(--b);
  border-radius: var(--r);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.client-sidebar__header,
.client-sidebar__body .client-info,
.client-sidebar__footer {
  padding: 16px;
}

.client-sidebar__header,
.client-sidebar__body .client-info {
  border-bottom: 1px solid var(--b);
}

.client-sidebar__footer {
  margin-top: auto;
  border-top: 1px solid var(--b);
}

.client-info__notes {
  font-size: .75rem;
  color: var(--t2);
  line-height: 1.5;
  padding-bottom: 8px;
}

.client-info__title {
  padding-bottom: 10px;
}

.contact-card,
.interaction-card {
  font-size: .78rem;
  border-top: 1px solid var(--b);
  padding: 10px 0;
}

.contact-card:first-of-type,
.interaction-card:first-of-type {
  border-top: none;
  padding-top: 0;
}

.contact-card__item,
.interaction-card__item {
  display: flex;
  align-items: center;
}

.contact-card__data,
.interaction-card__data {
  line-height: 2;
}

.contact-card__icon,
.interaction-card__icon {
  color: var(--t2);
  margin-right: 5px;
}

.contact-card__icon app-icon,
.interaction-card__icon app-icon {
  --icon-size: .78rem;
}

.content-tab {
  flex: 1;
  overflow-y: auto;
  margin-top: 20px;
}

.actions-list {
  display: flex;
  gap: 2px;
}

.actions-list app-icon {
  --icon-size: 15px;
}