@if (open()) {
  <div
    class="modal-backdrop"
    tabindex="0"
    (click)="onBackdropClick($event)"
    (keydown.escape)="close()"
    role="dialog"
    aria-modal="true"
  >
    <div class="modal" [style.width]="width()">
      <div class="modal-header">
        <h2 class="modal-title">{{ title() }}</h2>

        <button
          class="modal-close btn btn--secondary btn--small btn--icon"
          type="button"
          (click)="close()"
        >
          <app-icon name="close"></app-icon>
        </button>
      </div>

      <div class="modal-body">
        <ng-content></ng-content>
      </div>

      <div class="modal-footer">
        <ng-content select="[modal-footer]"></ng-content>
      </div>
    </div>
  </div>
}
