<div class="entity-item">
  <div class="entity-item__avatar">
    {{ initial() }}
  </div>

  <div class="entity-item__content">
    <h3 class="entity-item__title" [class.entity-item__title--small]="titleVariant() === 'small'">
      {{ title() }}
    </h3>

    @if (subtitle() || description()) {
      <p class="entity-item__subtitle">
        @if (subtitle()) {
          <span>{{ subtitle() }}</span>
        }

        @if (subtitle() && description()) {
          <span class="entity-item__separator">·</span>
        }

        @if (description()) {
          <span>{{ description() }}</span>
        }
      </p>
    }
  </div>
</div>
