.badge {
  display: inline-flex;
  align-items: center;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: .69rem;
  font-weight: 600;
}

.badge--bg {
  background: rgba(91, 138, 240, .15);
  color: var(--a);
}

.badge--active {
  background: rgba(76, 187, 130, .15);
  color: var(--ag);
}

.badge--notice {
  background: rgba(240, 147, 74, .15);
  color: var(--ao);
}

.badge--inactive {
  background: var(--s3);
  color: var(--t2);
}

.badge--alert {
  background: rgba(224, 92, 122, .15);
  color: var(--ar);
}

.badge--purple {
  background: rgba(155, 108, 245, .15);
  color: var(--ap);
}

.badge--cyan {
  background: rgba(56, 189, 248, .15);
  color: var(--at);
}