<div class="sidebar-foot">
  <div id="exportRemind" class="export-remind">
    <app-icon name="info"></app-icon>
    Exportar datos hoxe
  </div>
  <div class="foot-row">
    <button class="btn btn--secondary btn--small" (click)="exportBackup()">
      <app-icon name="export"></app-icon> Exportar
    </button>

    <button
      class="btn btn--secondary btn--small"
      [disabled]="!selectedFile"
      (click)="fileInput.click()"
    >
      <app-icon name="import"></app-icon> Importar
    </button>

    <input #fileInput type="file" accept=".json" hidden (change)="onFileSelected($event)" />
  </div>
</div>
